<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include head.html %}  <!-- Include the head.html file here -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header class="header">
    <div class="logo-container">
      <img src="{{ site.logo }}" alt="{{ site.title }}" class="logo">
      <h1 class="site-title">{{ site.title }}</h1>
    </div>
    <div class="content-container">
      <main>
        {{ content }}  <!-- Page content goes here -->
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
      </main>
    </div>
  </header>

  <footer>
    <!-- Footer content if any -->
  </footer>
</body>
</html>
